p {
    color: #f6ce7b;
}

* {
    font-family: Arial;
    font-size: 20px;
}

h1 {
    font-size: 58px;
}

#uppercase {
    text-transform: uppercase;
}

.language {
    background-color: #aecfa0;
}

li[tools] {
    border: 1px solid #aec1d9;
}

ul {
    list-style-type: none;
}

h4 + img {
    width: 130px;
    height: 130px;
    border-radius: 150px;
}

ul ~ p {
    text-align: center;
    color: #12232a;
}

body > section > ul {
    letter-spacing: 10px;
}
